.iconContainer {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.buttonContainer {
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 10px 16px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    width: auto;
    font-size: 15px;
    line-height: 18px;
    color: #484848;
    font-weight: normal;
    border: 1px solid transparent;
    min-width: 52px;
    background: #ffffff;
}

.wishListIcon {
    color: #FF5A5F;
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

.buttonContainer .wishListIcon {
    font-size: 20px !important;
}

.buttonText {
    padding-left: 10px;
}