@import '../../../components/variables.css';
@import '../admin-common.css';
@import '../admin-form.css';

.button {
	border-color: #ff7e82;
    background-color: #ff7e82;
    color: #fff;
    font-size: 16px;
    float: left;
    margin: 0px 20px 20px 20px;
}

