.root {
  margin: 0;
}

.navDropDown {
  border: 0px;
}

.userAvatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
}

.breakPointScreen {
		display: none !important;
}

.nonBreakPointScreen {
	display: block !important;
}

@media screen and (max-width: 1200px) {
	.breakPointScreen {
		display: block !important;
	}
	.nonBreakPointScreen {
		display: none !important;
	}
}
