@import '../../components/variables.css';
@import '../utils.css';

.root {
  padding: 32px;
}

.container {
  margin: 0 auto;
  padding: 0px;
  max-width: 380px;
}

/** RentAll - Begin **/

.logInModalContainer {
  max-width: 450px;
}

.logInModalBody {
  padding: 20px;
}

.lineThrough {
  position: relative;
  z-index: 1;
  display: block;
  margin: 12px 0px;
  width: 100%;
  color: #767676;
  text-align: center;
  font-size: 14px;
}

.lineThrough::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  margin-top: -5px;
  margin-left: -20px;
  width: 40px;
  height: 10px;
  background-color: #fff;
  content: '';
}

.lineThrough::after {
  position: absolute;
  top: 49%;
  z-index: -2;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  content: '';
}
.panelHeader{
  color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background: #edefed;
    text-align: center;
}
.formGroup {
  margin-bottom: 6px;
}

.formSection {
  overflow: hidden;
}


.noPadding {
  padding: 0px;
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

.modalCaptionLink {
    color: #008489;
}

.modalCaptionLinkLarge {
  font-size: 16px;
  line-height: 32px;
}

.modalCaptionLink:hover, .modalCaptionLink:focus {
    color: #008489;
    text-decoration: underline;
}


.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 4px;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3333333;
  cursor: pointer;
}

.btnPrimary {
    border-color: var(--btn-primary-bg);
    background-color: var(--btn-primary-bg);
    color: #fff;
}

.btnPrimary:hover, .btnPrimary:focus {
  border-color: var(--btn-primary-hover-bg);
  background-color: var(--btn-primary-hover-bg);
  color: #fff;
}

.btnPrimaryBorder {
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-bg);
    background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus {
  border-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-bg);
  background-color: #fff;
}

.btnSmall {
  padding: 5px 0px;
}

.spaceTop3{
  margin-top: 18px;
}

.panelHeader{
  color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background: #edefed;
}

.titleText{
  font-size: 16px;
  color: #767676;
}

@media screen and (max-width: 640px){
  .logInModalContainer{
    margin: 0px auto;
}
}
