@import '../../utils.css';

.container {
    margin: 0 auto;
    padding-bottom: 24px;
    max-width: 1080px;
    padding: 0px 15px;
}

.homeCarsoual {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
}

.homePosition {
    position: relative;
    height: 100vh;
}

/* .homePosition {
    position: relative;
    height: 600px;
  } */

/* .sliderBg {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top center;
  } */

/* .sliderBg {
    width: 100%;
    height: 600vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top center;
  } */

.sliderContent {
    position: relative;
    padding-top: 28vh;
}

.bgHeight {
    height: 100vh;
}

.sliderContent h1 {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    /* text-transform: uppercase; */
    width: 80%;
    max-width: 1080px;
    line-height: 50px;
    text-shadow: 0 6px 32px #484848 !important;
}

.searchCss {
    height: 56px;
    padding: 0 0 0 65px;
    font-size: 20px;
}

.searchbox {
    position: relative;
    margin: 45px 0 0 0;
}

.searchIcon {
    position: absolute;
    top: 17px;
    left: 16px;
}

.searchButton {
    position: absolute;
    top: 7px;
    right: 12px;
}

.searchButton button {
    color: #fff;
    background-color: var(--btn-primary-bg) !important;
    border-color: var(--btn-primary-bg) !important;
    font-size: 17px;
    padding: 8px 13px;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: var(--btn-primary-bg) !important;
    border-color: var(--btn-primary-bg) !important;
}

.homeCarsoualMobile {
    display: none;
}

.downArrow {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.videoBackground {
    background: #f0f0f0;
}

.videoWidth {
    width: 100% !important;
    height: 100% !important;
}

.videoWidthSize {
    width: 1309px;
    left: 0px;
    top: 0px;
    height: 736px;
}
.FormBookWrap{
    position: relative;
    height: 100%;
}
.BookWrap{
    color: #767676;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 450px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
}
.BookWrap h1 span{
    margin: 0 0 10px;
    color: var(--btn-primary-bg);
}
.BookWrap h1{
    margin: 0 0 15px;
    font-weight: 600;
    font-size: 26px;
    color: #484848;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.downArrow img {
    display: inline-block;
}

@media (max-width:1023px) and (min-width:768px) {
    .sliderContent h1 {
        color: #fff;
        font-size: 34px;
        line-height: 40px;
    }
}

@media screen and (max-width: 640px) {
    .sliderContent {
        position: absolute;
        /* padding-top: 17%; */
        padding-right: 15px;
    }
    .sliderContent h1 {
        font-size: 26px;
        width: 100%;
        line-height: 27px;
    }
    .searchCss {
        font-size: 13px;
    }
}

