@import '../../../components/variables.css';

.root{
    margin: 0px 20px;
}
.container{
  margin: 64px 40px 96px;
}

.headingText{
    font-weight: 700 ;
    color: #484848 ;
    margin: 0px ;
    word-wrap: break-word ;
    font-size: 36px ;
    line-height: 44px ;
    letter-spacing: -0.6px ;
    padding-top: 6px ;
    padding-bottom: 6px ;
  }

.subHeading{
    font-weight: 200 ;
    color: #484848 ;
    margin: 0px ;
    word-wrap: break-word ;
    font-size: 16px ;
    line-height: 24px ;
    padding-top: 0px ;
    padding-bottom: 0px ;

}