/*@import '../../components/variables.css';
@import '../../components/utils.css';
@import 'common.css';*/
@import '../utils.css';

/* Common Helpers Style - Start */
.button {
	border-color: #007d73;
  background-color: #00a699;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.button:hover {
  background: var(--btn-primary-bg);
}

.button:focus {
  border-color: var(--btn-primary-bg);
  box-shadow: 0 0 8px #00a699;
}

.btnPrimary {
   border-color: var(--btn-primary-bg);
   background-color: var(--btn-primary-bg);
   color: #fff;
}

.btnlarge {
   padding: 9px 27px;
 }

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-bg) !important;
  background-color: var(--btn-primary-bg) !important;
  color: #fff;
}

.btnPrimaryBorder {
   border-color: var(--btn-primary-bg);
   color: var(--btn-primary-bg);
   background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-bg);
  color: var(--btn-primary-bg);
  background-color: #fff;
}

.btnSmall {
  padding: 5px 0px;
}

.formGroup {
  margin-bottom: 6px;
}

.formControlInput {
  padding: 10px 35px 10px 10px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #767676;
}

.formControlInputMaxWidth {
  max-width: 320px;
}

.jumboInput {
    font-size: 18px;
    height: 65px;
    padding: 0 20px;
    border-color: #dce0e0;
    vertical-align: middle;
}

.textareaInput{
  height:123px !important;
  border: solid 1px #dce0e0;
  padding: 20px;
  font-size: 19px;
  border-radius: 2px;
  resize: none;
}

.formControlSelect {
  padding: 10px 32px 10px 10px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #767676;
  max-width: 320px;

  /*Drop Down Caret Icon*/
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 6px,
    5px 6px,
    1px 1.5em;
  background-repeat: no-repeat;
  /*Drop Down Caret Icon*/
}

.formControlSelectLarge {
	max-width: 100%;
}

.jumboSelect {
  height: 65px;
  font-size: 18px;
  padding: 20px;
}

.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;

}

.blockRadioButton {
	margin-top: 0;
    max-width: 320px;
}

.formSection {
  overflow: hidden;
}

.landingContainer {
  max-width: 912px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.landingTitle {
  font-size: 32px;
  color: #484848;
  margin: 0px 0px 30px 0px;
}

.landingStep {
	font-size: 14px;
	color: #bbb;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0px 6px 0px;
	display: block;
}

.landingStep2 {
  font-size: 18px;
  color: #767676;
  margin: 0px 0px 10px 0px;
  display: block;
}

.landingStep3 {
  font-size: 18px;
  color: #767676;
  line-height: 1.43;
  font-weight: normal;
}


.landingContentTitle {
	font-size: 24px;
	color: #484848;
	margin: 0px 0px 18px 0px;
}

.landingContent {
	margin-top: 60px;
	margin-bottom: 100px;
}

.landingMainContent {
	min-height: 300px;
}

.landingLabel {
	color: #767676;
	font-size: 18px;
	font-weight: normal;
	display: block;
  padding: 8px 0px;
  margin: 0px;
  line-height: 1.1;
}

.bookingTitle{
  font-weight: normal;
  color: #484848;
  margin: 0px;
  word-wrap: break-word;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.bookText{
  font-size: 16px;
  color: #484848;
  font-weight: normal;
}

.radioInput{
  position: relative;
  height: 1.25em;
  width: 1.25em;
  margin-right: 10px !important;
  vertical-align: top;
}

.radioSize{
  height: 15px;
  width: 15px
}

.checkboxLabel {
  color: #767676;
  font-weight: normal;
  display: inline;
  padding: 0px 10px;
  margin: 0px;
  line-height: 1.1;
}

.landingCaption {
	color: #767676;
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: normal;
}

.listContainer {
  padding: 0px;
  list-style-type: none;
}

.listContent {
  margin-bottom: 30px;
  font-size: 18px;
}

.horizontalLineThrough {
  position: relative;
  z-index: 1;
  display: block;
  margin: 15px 0px;
  width: 100%;
  color: #767676;
  text-align: center;
  font-size: 14px;
}

.blockRadioButton {
	margin-top: 0;
  max-width: 320px;
  border: 1px solid #c4c4c4;
  padding: 20px;
}

.blockRadioButton:first-of-type {
	border-radius: 3px 3px 3px 3px;
}

.blockRadioButton:last-of-type {
	border-radius: 0px 0px 3px 3px;
}

.blockRadioButton:not(:last-of-type) {
	border-bottom: 0px;
}

.helpPanelContainer {
	max-width: 320px;
}

.helpPanel {
	margin: 60px 30px 0;
  border: 1px solid #dce0e0;
  border-radius: 4px;
  width: 100%;
	padding: 26px;
	background: #FFF;
}

.helpPanelText {
	font-size: 16px;
  line-height: 150%;
  color: #767676;
}

.helpPanelTextTitle {
	color: #2d2d2d;
	display: block;
	width: 100%;
}

.incrementDecrementButton {
	max-width: 320px;
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 2px;
	display: block;
    overflow: hidden;
}

.incrementDecrementText {
	float: left;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 20px;
    height: 52px;
    margin: 0px;
    font-size: 18px;
    color: #767676;
    line-height: 1;
    vertical-align: middle;
    font-weight: normal;
    background: #fff;
}

.iconButton {
	width: 20%;
	float: left;
	border-color: #dce0e0;
	border-width: 0px 0px 0px 1px;
	border-radius: 0px;
	padding: 12px 20px;
  height: 52px;
	margin: 5px 0px;
	font-size: 15px;
	line-height: 1px;
	color: #767676;
	background: #fff;

}

.iconButton:hover, .iconButton:focus, .iconButton:active {
	background: #fff;
	border-color: #dce0e0;
	border-width: 0px 0px 0px 1px;
	margin-left: 0px;
}

.checkBoxSection {
  display: table-cell;
}

.checkBoxLabel {
  padding: 0px 10px;
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.noPadding {
  padding: 0px;
}

.pullRight {
  float: right;
}

.pullLeft {
  float: left;
}

.space5 {
  margin-bottom: 30px;
}

.noMargin {
  margin: 0px;
}

.unorderedList li {
  margin-bottom: 10px;
  padding: 0px;
}

.checkIcon{
  color: #008489;
  margin:0px 10px 5px 0px;
}

.space3 {
  margin-bottom: 18px;
}

.space4 {
  margin-bottom: 24px;
}

.spaceTop4 {
  margin-top: 24px;
}

.textHigh{
  font-size: 18px;
  color: #484848;
  line-height: 1.43;
}
.textLow{
  font-size: 16px;
  color: #767676;
  line-height: 1.43;
}


/* Common Helpers Style - End */


/** List Photo Cover Style - Start */
.listPhotoCover {
    display: block;
    height: 185px;
    backface-visibility: hidden;
    position: relative;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
    text-align: center;
    margin-top: 15px;
}

.listPhotoMedia {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.imgResponsive {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.coverPhotoSelection {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100px;
  height: 30px;
  background: var(--btn-primary-bg);
  color: #FFF;
  font-size: 14px;
  border-radius: 5px 12px 12px 5px;
  line-height: 30px;
}

.coverPhotoCheckbox {
  margin: 0px !important;
  vertical-align: middle;
}
/** List Photo Cover Style - End */

.landingContainer {
  max-width: 912px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.landingContent {
  margin-top: 60px;
  margin-bottom: 100px;
}

.noPadding {
  padding: 0px;
}

.landingContentTitle {
  font-size: 24px;
  color: #484848;
  margin: 0px 0px 18px 0px;
}

.bookingLandingStep {
  font-size: 18px;
  color: #767676;
  margin: 0px 0px 10px 0px;
  display: block;
}

.horizontalLineThrough {
  position: relative;
  z-index: 1;
  display: block;
  margin: 15px 0px;
  width: 100%;
  color: #767676;
  text-align: center;
  font-size: 14px;
}

.space3{
  margin-bottom: 18px;

}

.spaceTop3{
  margin-top: 18px;
}

.space6{
  margin-bottom: 36px;
}

.BookingradioInput{
  height: 1.25em;
  width: 1.25em;
  margin-right: 5px;
  vertical-align: top;
}

.bookText{
  font-size: 16px;
  color: #484848;
  font-weight: normal;
  margin-left: 10px;
  display: block;
}

.subText{
  color: #767676;
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
  display: block;
}

.displayTable {
  display: table;
}

.displayTableCell {
  display: table-cell;
}

/** SyncCalendar Start **/

.landingText{
  margin: 0px;
word-wrap: break-word;
font-size: 19px;
line-height: 24px;
padding-top: 0px;
padding-bottom: 0px;
}

.listType{
  padding-left: 0;
  list-style: none;
}

.iconContainer{
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  display: block;
}

.iconContainer:active, .iconContainer:focus, .iconContainer:hover, .iconContainer:active:focus{
   border: 0px;
  background-color: #ffffff;
  outline: none;
  box-shadow: none;
}

.iconSize{
  height: 20px;
  width: 20px;
  color: #767676;
}

.calenderText{
  font-size: 19px;
  color: #767676;
}

.LineColor{
 border-top: 1px solid #f5f5f5;
}

.btnContainer{
  color: #008489;
   font-size: 18px;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    text-align: left;
    user-select: auto;
}

.btnContainer:hover, .btnContainer:focus, .btnContainer:active, .btnContainer:active:focus{
  border: 0px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #008489;
}

.displayTableCellVertical{
  display: table-cell;
  vertical-align: middle;
}

.paddingLeft{
  padding-left: 8px;
}

.iconColor{
  color: #008489;
}

.space0{
  margin-bottom: 0px;
}

@media screen and (max-width:480px){
  .btnlarge {
   padding: 7px 21px;
 }
 
}

@media screen and (max-width:640px){
 .smPosition{
   float: none;
 }
 .smTop4{
   margin-top: 24px;
 }
 
}

/** SyncCalendar End **/

