.GridCollapse{
  margin: 0 -5px;
  position: relative;
  min-height: 320px;
  margin: 0px 3px;
}


@media screen and (max-width: 1024px) {
  .GridCollapse{
    margin: 0px 3px;
  }
}

@media screen and (max-width: 767px) {
  .GridCollapse{
    margin: 0px 0px;
  }
}

