@import '../utils.css';

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: var(--btn-primary-bg);
  color: #484848;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: var(--btn-primary-bg);
}

.btnPrimary {
   border-color: var(--btn-primary-bg);
   background-color: var(--btn-primary-bg);
   color: #fff;
}

.btnlarge {
   padding: 9px 27px;
 }

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-bg);
  background-color: var(--btn-primary-bg);
  color: #fff;
}

.btnPrimaryBorder {
   border-color: var(--btn-primary-bg);
   color: var(--btn-primary-bg);
   background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-bg);
  color: var(--btn-primary-bg);
  background-color: #fff;
}

.space1 {
  margin-bottom: 6px;
}

.space2 {
  margin-bottom: 12px;
}

.space3 {
  margin-bottom: 18px;
}

.space4 {
  margin-bottom: 24px;
}

.space5 {
  margin-bottom: 36px;
}

.space6 {
  margin-bottom: 48px;
}

.spaceTop1 {
  margin-top: 6px;
}

.spaceTop2 {
  margin-top: 12px;
}

.spaceTop3 {
  margin-top: 18px;
}

.spaceTop4 {
  margin-top: 24px;
}

.spaceTop5 {
  margin-top: 36px;
}

.spaceTop6{
  margin-top: 48px
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

.noBorder {
  border: 0px none !important;
}
