@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/common.css';

.root {
  padding: 32px;

}
.container {
  margin: 0 auto;
  padding: 0px;
  max-width: 500px;
}
.textAlignRight {
  text-align: right;
}



.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.noPadding {
  padding: 0px;
}

.button {

	border-color: #ff7e82;
    background-color: #ff7e82;
    color: #fff;
    float: right;
    font-size: 16px;
}

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.btnPrimary {
    border-color: var(--btn-primary-bg);
    background-color: var(--btn-primary-bg);
    color: #fff;
}

.btnlarge{

	    padding: 9px 27px;
  }

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-hover-bg) !important;
  background-color: var(--btn-primary-hover-bg) !important;
  color: #fff;
}

.btnPrimaryBorder {
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-bg);
    background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-bg);
  background-color: #fff;
}

.btnSmall {
  padding: 5px 0px;
}


.panelHeader{

	border-radius: 0;
	width: 100%;
	display: block;
	color: #484848;
	font-size: 16px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dce0e0;

}

.formGroup {
  margin-bottom: 18px;
}

.formControlInput {
  padding: 10px 35px 10px 10px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #dce0e0;
  background-color: #fff;
  color: #484848;
  font-weight: normal;
  box-shadow: none !important;
  -webkit-appearance: none !important;
 

}

.formControlSelect {
  padding: 10px 32px 10px 10px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #dce0e0;
  background-color: #fff;
  color: #484848;
  font-weight: normal;
}


.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.formSection {
  overflow: hidden;
}

.captionText {
  font-size: 16px;
  color: #484848;
  margin: 6px 0px;
}

.labelText{
	font-size: 14px;
  color: #767676;
  margin: 6px 0px;
  line-height: 1.43;
  font-weight: normal;
}

.modalCaptionLink {
    color: #008489;
}

.modalCaptionLinkLarge {
  font-size: 16px;
  line-height: 32px;
}

.modalCaptionLink:hover, .modalCaptionLink:focus {
    color: #008489;
    text-decoration: underline;
}

.spaceTop3{
  margin-top: 18px;
}

.textRight{
  text-align: right;
}
.textAlign{
  text-align: right;
}

@media screen and (max-width: 640px){
  .smSpace{
    margin-top: 6px;
  }
.textAlign{
  text-align: left;
}
.formGroup {
  margin-bottom: 6px;
}

}

.formControlSelectWidth{
  max-width: 280px;
}

@media screen and (max-width: 640px) {

  .formControlSelectWidth{
   max-width: 100% !important;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .birthdayContent{
    font-size: 14px;
    padding: 10px 0 0 0;
    text-align: right;
    color: #767676;
  }
  .formControlSelect {
    width: 100%;
  }
  .selectMobileTWo{
    font-size: 14px;
    margin: 10px 0 0 0;
    color: #484848;
  }
  .birthdayContentTwo{
    font-size: 14px;
    padding: 20px 0 0 0;
    text-align: right;
    color: #767676;
  }
  .MobileBirthday{
    padding: 0 0 0 0;
  }
  .paddingLeftTab{
    padding: 0 0 10px 50px;
  }
  .listContent {
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    vertical-align: top !important;
  }
  }
@media screen and (max-width: 767px) {
  .birthdayContent{
    font-size: 13px;
    padding: 10px 0 0 0;
  }
  .formControlSelect {
  
    width: 100%;
  }
  .selectMobileTWo{
    font-size: 13px;
    margin: 10px 0 0 0;
  }
  .birthdayContentTwo{
    font-size: 13px;
    padding: 20px 0 0 0;
  }
  .MobileBirthday{
    padding: 0 0 0 15px;
  }
}
@media screen and (max-width: 640px) {
  
  
  .labelMobile{
    margin: 0 !important;
  }
  .birthdayMargin{
    margin-bottom: 10px;
  }
  .spaceTopMobile{
    margin-top: 30px !important;
  }


.MobileBirthday{
  padding: 0 0 0 15px;
}
.paddingLeftMobile{
  padding-left: 0;
}
.leftOne{
  float: left;
  width: 29%;
  margin: 0 10px 0 0;
}
.birthdayContent{
  font-size: 14px;
  padding: 10px 0 0 0;
  color: #767676;
}
.formControlSelect {

  width: 100%;
}
.selectMobileTWo{
  font-size: 14px;
  margin: 10px 0 0 0;
  color: #767676;
}
.birthdayContentTwo{
  font-size: 14px;
  padding: 20px 0 0 0;
  color: #767676;
}
}

.birthDayWidth {
  width: 100%;
  max-width: 92px;
}
@media screen and (min-width:1024px)
{
  .listContent {
    margin-bottom: 15px;
    font-size: 14px;
    width: 50%;
    display: inline-block;
    vertical-align: top !important;
  }

}
@media screen and (max-width:640px)
{
  .textAlign {
    text-align: left;
  }
  .listContent {
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    vertical-align: top !important;
  }

}
@media screen and (max-width:767px) and (min-width: 641px)
{
  .textAlign {
    text-align: left;
  }
  .listContent {
    margin-bottom: 15px;
    font-size: 14px;
    width: 50%;
    display: inline-block;
    vertical-align: top !important;
  }

}
.margintop15
{
  margin-top:15px;
}
.addonStyle
{
  border-color:#dce0e0 !important;
}

.widthredcd
{
  max-width:280px;
}
.aboutSection{
  color: #333;
  background-color: #f5f5f5;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid #ddd;
  border-left:0px;
  border-right:0px;
}

.listContainer {
  padding: 0px;
  list-style-type: none;
  margin-bottom: 0px;
}

.checkBoxSection {
  display: table-cell;
}

.checkboxLabel {
  color: #767676;
  font-weight: normal;
  display: inline;
  padding: 0px 10px;
  margin: 0px;
  line-height: 1.1;
}

.checkBoxGroupText{
	font-size: 14px;
  color: #767676;
  margin: 0px 0px 6px 0px;
  line-height: 1.43;
  font-weight: normal;
}