/** Common **/
.textEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/** Common **/
/** Home slider Item - Start **/
.imgContainer {
    position: relative;
    width: 100%;
}
.parent {
    background: #d8d8d8 none repeat scroll 0 0;
    padding-top: 0;
    position: relative;
    min-height: 240px;
    max-height: 240px;
    border-radius: 5px;
}
.children {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.content {
    height: 100%;
    width: 100%;
    position: relative;
}
.imageContent {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 5px;
}
.infoContainer {
    padding-top: 8px;
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 6px 32px #484848 !important;
    z-index: 4;
}
.linkContainer, .linkContainer:hover {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.infoText {
    color: #484848;
    font-family: inherit;
    margin: 0px;
    word-wrap: break-word;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}

.infoReview {
    font-size: 15px;
}

.infoTitle {
    font-size: 15px;
    margin-top: 8px;
}

.infoDesc {
    font-weight: 200;
    font-size: 14px;
    color: #767676;
}

.space1 {
    margin-bottom: 6px;
}

.textStrong {
    font-weight: bold;
}

.reviewStar {
    display: inline;
    position: relative;
    float: left;
}

.reviewText {
    padding: 5px;
}

.roomTitleBlock {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.instantIcon{
    color: #ffb400;
    height: 16px;
    width: 16px;
}

.infoSpace{
    margin-top: 6px;
    margin-bottom: 4px;
}

.listingInfo {
    word-wrap: break-word;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: normal;
    color: rgb(160, 47, 24);
    font-weight: 600;
    margin: 0px;
    text-transform: uppercase;
}
.content::before{
    content: "";
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 100%) !important;
    opacity: 0.6 !important;
    position: absolute !important;
    height: 60% !important;
    width: 100% !important;
    left: 0px !important;
    bottom: 0px !important;
    z-index: 1;
    border-radius: 5px;
}

@media (max-width:1023px) and (min-width:768px) {
    .parent{
       
        min-height: auto;
        max-height: auto; 
        padding-top: 64.6667%;
    }
    .infoContainer{
      
        bottom: 25px;
     
    }
}

@media screen and (max-width:640px) {
    .parent{
      
        min-height: inherit;
        max-height: inherit;
        padding-top: 67.6667%;
    }
    .infoContainer{
      
        bottom: 22px;
        
    }
    
  }

/** Home slider Item - Start **/