@import '../../variables.css';
@import '../../utils.css';
/** Common **/
.textEllipsis {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pl5 {
    padding-left: 20px;
}

.pt4 {
    padding-top: 16px;
}

.pullRight {
    float: right;
}
.freeCancellation {
    margin-top: 10px;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

/** Common **/
/* List Item - Start **/

.label {
    border-radius: 20px;
    background-color: #e3dfdf;
    color: #555;
}

.itemRow {
    position: relative;
}

.itemActions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bold{
    font-weight: 700;
}

.fs4 {
    font-size: 1rem;
}

.listItemContainer {
    position: relative;
}
.listPhotoContainer {
    position: relative;
}
.listPhotoCover {
  display: block;
  height: 345px;
  backface-visibility: hidden;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background-color: #D8D8D8;
  text-align: center;
}

.listPhotoMedia {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.imgResponsive{
  height: 100%;
  width: auto;
}

.listInfo {
    padding-top: 0px;
}

.listInfoLink {
    cursor: pointer;
    display: block;
}

.listingInfo{
    word-wrap: break-word;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: normal;
    white-space: normal;
    font-weight: 800;
    margin: 0px;
}

.listingInfo ul {
    padding-inline-start: 10px;
}

.detailButton {
    border-radius: 25px;
    color: #56aa4eff;
    border-color: #56aa4eff;
    position: absolute;
    min-width: 100px;
    bottom: 20px;
    right: 20px;
}

.detailButton:hover {
    color: var(--btn-primary-bg);
    background-color: transparent !important;
    border-color: var(--btn-primary-bg);
}

.currencyWrapper {
    font-size: 1.3rem;
    font-weight: 600;
}

.displayInline{
    display: inline-block;

}

.textInline{
    display: inline-block;
    vertical-align: top;
}

.listingTitle{
    word-wrap: break-word;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    color: rgb(72, 72, 72);
    font-weight: 800;
}
.infoSpace{
    margin-top: 6px;
    margin-bottom: 0px;
}

.infoSpaceTop1 {
    margin-top: 2px
}

.infoText {
    color: #484848;
    font-family: inherit;
    word-wrap: break-word;
    line-height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}

.infoPrice {
    word-wrap: break-word;
    line-height: 20px;
    letter-spacing: normal;
    color: rgb(72, 72, 72);
    font-weight: normal;
    display: inline;
}

.infoReview {
    font-weight: 600;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: normal;
    color: rgb(72, 72, 72);
    display: inline;
}

.infoTitle {
    font-size: 19px;
}

.infoDesc {
    font-weight: 200;
    font-size: 14px;
    color: #767676;
}

.wishListContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wishListBtn {
    font-size: 36px;
    color: #FFFFFF;
}

.wishListBtn:hover, .wishListBtn:focus {
    color: #58595B;
}

.activeWishList {
    color: #58595B;
}

.reviewStar {
    display: block;
    position: relative;
}

.reviewText {
    font-size: 14px;
}

.instantIcon {
    color: #ffb400;
    height: 16px;
    width: 16px;
}

.locationIcon {
    margin-bottom: 3px;
    margin-left: -2px;
}

.beforeDot {
    font-size: 23px;
    font-weight: bold;
    vertical-align: top;
}

@media screen and (max-width: 1280px) {
    .listPhotoCover {
            height: 200px;
        }
}

@media screen and (max-width: 800px) {
        .listPhotoCover {
            height: 345px;
        }
}

@media screen and (max-width: 480px) {
        .listPhotoCover {
            height: 215px;
        }
}


/* List Item - End */
