@import '../../../../components/variables.css';

.panelHeader{
  border-radius: 0;
  width: 100%;
  display: block;
  color: #484848;
  font-size: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.listContainer {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}

.listContainer .panelBody:first-child {
  padding-top: 0px;
}

.listContainer .panelBody:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}   
