@import '../../../components/variables.css';
/** RentAll - Begin **/

.seperator {
  background-color: #484848;
  width: 64px;
  display: block;
  height: 1.5px;
  margin: 0 auto;
  margin-bottom: 27px;
}

.boxseperator {
  height: 2.5px;
  border: 1px solid #484848;
  background-color: transparent;
}

.mainhedding h1 {
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 73px;
}

h4.common {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}

p.common {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
}

.aboutbnb {
  margin-bottom: 116px
}

a.aboutbnb {
  font-size: 16px;
}

.whyblock {
  padding-right: 45px;
}


@media screen and (max-width:991px) {
  h4.common {
    font-size: 23px;
    font-weight: 600;
  }
  .mainhedding h1 {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 56px;
  }
}


@media screen and (max-width:767px) {
  .mainhedding h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align:left;
    padding-right: 15px;
    padding-left: 15px;
  }

  h4.common {
    font-size: 20px;
  }

  .whyblock {
    padding-right: 15px;
  }


.aboutbnb {
  margin-bottom: 26px;
}

p.common {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

}
