@import '../../components/variables.css';

.helpPanelContainer {
	max-width: 320px;
}

.helpPanel {
	margin: 60px 30px 0;
  border: 1px solid #dce0e0;
  border-radius: 4px;
  width: 100%;
	padding: 25px;
	background: #FFF;
}

.helpPanelText {
	font-size: 16px;
  line-height: 150%;
  color: #767676;
}

.helpPanelTextTitle {
	color: #2d2d2d;
	display: block;
	width: 100%;
}

.helpPanelListText {
	font-size: 14px;
	padding-left: 20px !important;
}

.noMarginTop {
	margin-top: 0;
}

.policyText {
	font-size: 14px !important;
}

a{
	color: #008489;
	text-decoration: none;
}
  
a:hover{
	cursor: pointer;
	text-decoration: none;
}

@media (max-width:1023px) and (min-width:768px) {
	.helpPanel {
		margin: 60px 13px 0;
	}

}

@media screen and (max-width: 768px){
	.helpPanel{
		margin: 30px 0px 100px;
	}

	.helpPanelContainer {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width:1023px) {
	.helpPanel {
		margin: 60px 30px 0;
		border: 1px solid #dce0e0;
		border-radius: 4px;
		width: 100%;
		padding: 25px;
		background: #FFF;
	}

}

.fontWeight {
	font-weight: 700;
}

