@import '../../../../../components/common.css';

.labelText {
    display: inline-block;
    font-weight: normal;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 16px;
    color: var(--btn-color);
}

.alignRight {
  text-align: right;
}