@import '../../utils.css';

/** Common - Start **/
.btn {
    padding: 7px 21px;
    border-color: #c4c4c4;
    background: white;
    color: #484848;
    font-weight: bold;
    font-size: 14px;
}

.btnBlock {
  width: 100%;
  position: relative; 
  white-space: normal;
  display: block;
}

.btn:hover, .btn:focus, .btn:hover:focus {
  background: white;
  color: #484848;
}

.btnPrimary {
  border-color: var(--btn-primary-bg);
  background-color: var(--btn-primary-bg);
  color: #fff;
}

.btnlarge {
     padding: 9px 27px;
}

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-hover-bg);
    background-color: var(--btn-primary-hover-bg);
    color: #fff;
}

.btnPrimaryBorder {
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-bg);
    background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-bg);
  background-color: #fff;
}

.formControlInput {
  padding: 10px 35px 10px 10px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #767676;
}

.formControlSelect {
  height: 40px;
  border-radius: 2px;
  margin-bottom: 8px;
  font-size: 14px;
  max-width: 320px;
  border: 1px solid #DBDBDB;
  background-color: #fff;
  color: #484848;
  line-height: 24px;
  display: block;
  overflow: hidden;
   appearance: none;
  }

.noPadding {
    padding: 0px !important;
}
/** Common - End **/

/** Search Form - Start **/
.searchFormInputs {
    display: table;
    float: none;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    table-layout: auto;
    width: 100%;
}
.searchForm {
    border: 1px solid #dce0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #dce0e0;
    margin-left: 0;
    margin-right: 0;
}
.table {
    width: 100%;
    display: table;
}
.tableRow {
    display: table-row;
    width: 100%;
}
.tableCell {
    display: table-cell;
    float: none;
    padding: 15px 16px 8px;
    vertical-align: middle;
}
.tableCell:not(first-child) {
    border-right: 1px solid #dce0e0;
}
.location, .dates {
    width: 35%;
}
.guests {
    width: 17%;
}
.search {
    padding-bottom: 16px;
}
.label {
    font-size: 15px;
    letter-spacing: -0.5px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0px;
    white-space: nowrap;
    font-weight: 500;
}
.input, .input:hover, .input:focus {
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    letter-spacing: -0.5px;
    padding: 8px 0px;
    outline: 0 !important;
}

.inputPadding, .inputPadding:hover, .inputPadding:focus{
    padding: 7px 15px;
}

.searchButton {
    line-height: 16px;
    padding: 16px 10px;
}

.selectPadding{
    padding: 0px 15px;
}

@media screen and (max-width: 767px) {
  .location, .dates, .guests {
      width: 100%;
  }  

  .tableCell {
      border-right: 0px;
      display: block;
  }
  .tableCell:not(first-child) {
    border-bottom: 1px solid #dce0e0;
  }
  .tableCell:not(first-child) {
    border-right:inherit;
}

}

@media screen and (max-width: 640px) {
    .inputPadding, .inputPadding:hover, .inputPadding:focus{
        padding: 8px 0px;
    }
    .mobilePadding{
        padding: 15px 16px 8px !important;
    }
    .selectPadding{
        padding: 0px;
    }
}

.geoSuggestContainer {
    width: 100% !important;
    margin: 0px !important;
}
/** Search Form - End **/