@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/common.css';
.noBorder {
  border: 0px none !important;
}

.rowBorder {
  border-bottom: 1px solid #dce0e0;
}

.panelHeader {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #484848;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
}

.panelBody {
  margin: 0;
  position: relative;
}

.payoutIntro {
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
}

.payoutIntroHeader {
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
  font-weight: bold;
}

.payoutHeader {
  font-size: 18px;
  color: #484848;
  line-height: 1.43;
  font-weight: bold;
  padding: 20px 30px;
}

.payoutHeaderNoHorizontalPadding {
  font-size: 18px;
  color: #484848;
  line-height: 1.43;
  font-weight: bold;
  padding: 20px 0px;
}

.textTruncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sectionTitleLight {
  color: #484848;
  font-size: 14px;
}

.textMuted {
  color: #767676;
}

.labelText {
  font-size: 14px;
  color: #767676;
  font-weight: normal;
}

.textSpace {
  margin-right: 10px;
  color: var(--btn-primary-bg);
}

.textSpace:hover {
  color: var(--btn-primary-bg);
}

.textSpace2 {
  margin-right: 10px;
  color: var(--btn-secondary-bg);
}

.textSpace2:hover {
  color: var(--btn-secondary-bg);
}

.radioText {
  font-size: 14px;
  color: #484848;
  font-weight: normal;
  display: inline;
  padding-right: 5px;
}

.radioTextSupplement {
  font-size: 12px;
  color: #767676;
  font-weight: normal;
  display: inline;
  padding-right: 5px;
}

.formControlSelect {
  padding: 8px 8px 10px 10px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #484848;
  font-weight: normal;
  line-height: 24px;
  display: block;
  overflow: hidden;
  appearance: none;
  background-position: 99% 7px !important;
}

.formControlInput {
  display: block;
  padding: 10px 35px 10px 10px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #484848;
  font-weight: normal;

}

.formGroup {
  margin-bottom: 6px;
}

/*************************Panel Styles End******************************************/

a {
  color: #008489;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #008489;
  cursor: pointer;
  text-decoration: none;
}

.miniDivider {
  width: 0;
  border-left: 2px solid #dce0e0;
  height: 1em;
  margin: 0 15px;
}

.button {
  border-color: #ff7e82;
  background-color: #ff7e82;
  color: #fff;
  font-size: 14px;
  white-space: normal;
}

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.btnPrimary {
  border-color: var(--btn-primary-bg);
  background-color: var(--btn-primary-bg);
  color: #fff;
}

.btnlarge {
  padding: 7px 21px;
}

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active, .btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-hover-bg) !important;
  background-color: var(--btn-primary-hover-bg) !important;
  color: #fff;
}

.btnPrimaryBorder {
  border-color: var(--btn-primary-bg);
  color: var(--btn-primary-bg);
  background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active, .btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-bg);
  background-color: #fff;
}

.space1 {
  margin-bottom: 6px;
}

.space2 {
  margin-bottom: 12px;
}

.space4 {
  margin-bottom: 24px;
}

.btnRight {
  margin-right: 10px;
}

@media screen and (max-width: 743px) {
  table {
    overflow-x: auto;
    display: block;
  }
  .textMuted {
    display: block;
    padding-top: 5px;
  }
}

.displayInline {
  display: inline-block;
}

.displayFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.responsiveTextAlign {
  text-align: right;
  
}

.inputFormControl {
  padding: 10px 35px 10px 10px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #484848;
  font-weight: normal;
}

.selectFormControl {
  padding: 8px 32px 10px 10px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #484848;
  font-weight: normal;
}
@media (max-width:991px)
{
  .responsiveTextAlign
  {
    text-align:left;
  }
}
@media(max-width:767px)
{
  .responsivePadding
  {
    padding:0px !important;
  }
}

.bordered {
  margin-top: 10px;
  padding: 8px 8px 10px 10px;
  border: 1px solid #dce0e0;
  border-radius: 4px;
}

.iconHeading {
  text-align: center;
  font-size: 20px;
}

.containerResponsive{
  margin: 0 auto;
  display: block;
}