.containerTitle {
    color: #484848;
    line-height: 24px;
    margin: 0 0 18px;
    padding: 0px 15px;
}

.textCenter{
  text-align: center;
}

.catogerySubText{
    font-size: 16px;
    color: #484848;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.categorySubCaption {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
}
.textBold{
  font-weight: bold;
}

.progressContainer{
    padding-top: 24px;
    padding-bottom: 24px;
}

.progressBox {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.spaceTop4{
    margin-top: 24px;
}

.space5{
    margin-bottom: 30px;
}
.noPadding {
    padding: 0px !important;
}

.customPadding {
    padding: 0px 15px;
}

.feedbackIcon{
    color: #ffffff;
    fill: #ffffff;
    max-height: 45px;
    max-width: 45px;
}

.flowContent{
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    font-weight: 300 !important;
    text-align: justify;

}

.titleText{
  font-weight: 700;
    word-wrap: break-word;
    line-height: 32px;
    letter-spacing: -0.6px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #484848;
}

.headerText{
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.8px;
  color: #484848;
  font-weight: 700;
}



@media screen and (max-width: 640px) {
    .smBottom{
        margin-bottom: 24px;
    }
        .smPadding{
        padding: 0px;
    }

    .headerText{
    font-weight: 700 !important;
    font-size: 36px !important;
    line-height: 36px !important;
    letter-spacing: -0.6px !important;
    }
}

