@import '../../variables.css';
@import '../../utils.css';

.panelSpace{
  padding-right: 20px;
}

.panelEmpty{
	border-radius: 0;
	width: 100%;
	display: block;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
}

.nolistTitle{
    font-size: 16px;
    font-weight: bold;
    color: #484848;
}

.noResults{
  font-size: 14px;
  font-weight: normal;
  color: #484848;
}

.textCenter{
  text-align: center;
}

.button {

  border-color: #ff7e82;
  background-color: #ff7e82;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
    }

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.btnPrimary {
    border-color: var(--btn-primary-bg);
    background-color: var(--btn-primary-bg);
    color: #fff;
}

.btnlarge{

      padding: 7px 21px;
  }

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-hover-bg);
  background-color: var(--btn-primary-hover-bg);
  color: #fff;
}

.btnPrimaryBorder {
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-bg);
    background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-bg);
  background-color: #fff;
}

.space3 {
  margin-bottom: 18px;
}

.space4 {
  margin-bottom: 24px;
}

.spaceTop4 {
  margin-top: 24px;
}

.spaceTop2{
  margin-top: 12px;
}

.space1{
  margin-bottom: 6px
}

.space2{
  margin-bottom: 12px;
}

.noPadding {
  padding: 0px;
}