/** Common **/
.textEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/** Common **/
/* List Item - Start **/
.listItemContainer {
    position: relative;
    width: 100%;
    z-index: 335 !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    overflow: hidden;
}

.listPhotoContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
.listPhotoCover {
  display: block;
  backface-visibility: hidden;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background-color: #D8D8D8;
  text-align: center;
}

.listPhotoMedia {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.imgResponsive{
  height: 100%;
  width: auto;
}

.listInfo {
    padding-top: 8px;
}

.listInfoLink {
    cursor: pointer;
    display: block;
}

.infoText {
    color: #484848;
    font-family: inherit;
    margin: 0px;
    word-wrap: break-word;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}

.infoPrice {
    font-size: 15px;
}

.infoReview {
    font-size: 12px;
}

.infoTitle {
    font-size: 15px;
    margin-top: 8px !important
}

.infoDesc {
    font-weight: 200;
    font-size: 14px;
    color: #767676;
}

.wishListContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wishListBtn {
    font-size: 36px;
    color: #FFFFFF;
}

.wishListBtn:hover, .wishListBtn:focus {
    color: #58595B;
}

.activeWishList {
    color: #58595B;
}

@media screen and (max-width: 1360px) {
    .listPhotoCover {
            height: 200px;
        }
}    

@media screen and (max-width: 800px) {
        .listPhotoCover {
            height: 345px;
        }    
}

@media screen and (max-width: 480px) {
        .listPhotoCover {
            height: 145px;
        }    
}

/* List Item - End */
.parent {
    /* background: #d8d8d8 none repeat scroll 0 0; */
    padding-top: 66.6667%;
    position: relative;
}
.children {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.content {
    height: 100%;
    width: 100%;
    position: relative;
}
.imageContent {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 4px;
    background-color: #d8d8d8;
}

.listPhotoMedia {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

.navigationIcon {
  display: block;
  fill: #FFFFFF;
  height: 45px;
  width: 45px;
  font-size: 45px;
}

.noPadding {
    padding: 0px !important;
}

.sliderItem {
    padding: 0px !important;
    min-width: 280px;
}

.slideLoader {
    top: 35%;
    position: absolute;
    left: 40%;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
}