@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/common.css';
/*************************Sidenavigation Styles start******************************************/

.listContainer {
  padding-left: 0px;
  list-style-type: none;
}

.sideNavitem {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #767676;
  text-decoration: none;
}

.sideNavitem:hover {
  text-decoration: none;
  color: #484848;
}

.sideNavitem:active {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
}

.sideNavitem:active {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
}

/*************************Sidenavigation Styles end******************************************/

.panelHeader {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #484848;
  font-size: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

a {
  color: #008489;
  text-decoration: none;
}

a:hover {
  color: #008489;
  cursor: pointer;
}

.space4 {
  margin-bottom: 24px;
}

.button {
  border-color: #ff7e82;
  background-color: #ff7e82;
  color: #fff;
  font-size: 14px;
}

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.btnPrimary {
  border-color: var(--btn-primary-bg);
  background-color: var(--btn-primary-bg);
  color: #fff;
}

.btnSuccess {
  border-color: var(--btn-primary-bg) !important;
  background-color: var(--btn-primary-bg) !important;
  color: #fff !important;
}

.btnSuccess:hover, .btnSuccess:focus {
  border-color: var(--btn-primary-hover-bg) !important;
  background-color: var(--btn-primary-hover-bg) !important;
  color: #fff;
}

.btnlarge {
  padding: 7px 21px;
}

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active, .btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: var(--btn-primary-hover-bg);
  background-color: var(--btn-primary-hover-bg);
  color: #fff;
}

.btnPrimaryBorder {
  border-color: var(--btn-primary-bg);
  color: var(--btn-primary-bg);
  background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active, .btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-bg);
  background-color: #fff;
}

.labelText {
  font-size: 14px;
  color: #484848;
  font-weight: normal;
  margin-bottom: 12px;
}

.formControlInput {
  display: block;
  height: 40px;
  padding: 8px 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  background-color: #fff;
  color: #767676;
  border: 1px solid #dce0e0 !important;
  box-shadow: none !important;
}

.formGroup {
  margin-bottom: 6px;
}

.space2 {
  margin-bottom: 12px;
}

.btnRight {
  float: right;
}

.textRight {
  text-align: right;
}

.formControlSelect {
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #767676;
  display: block;
  overflow: hidden;
  appearance: none;
}

.formGroup {
  margin-bottom: 6px;
  display:flex;
  align-items:center;
}

.labelText {
  font-size: 14px;
  color: #484848;
  font-weight: normal;
}

@media screen and (max-width: 743px) {
  .textRight {
    text-align: left;
  }
}
